<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property resource="app.properties"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="RootLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logRoot}/root.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logRoot}/root-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="UserLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logRoot}/user.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logRoot}/user-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="HomeLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logRoot}/user.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logRoot}/user-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="SnsLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logRoot}/sns.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logRoot}/sns-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>


    <appender name="SearchLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logRoot}/search.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logRoot}/sns-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="AlbumLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logRoot}/album.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logRoot}/sns-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="DiscoverLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logRoot}/discover.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logRoot}/sns-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="NotifyLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logRoot}/notify.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logRoot}/sns-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="RecommendLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logRoot}/recommend.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logRoot}/sns-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="WebLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logRoot}/web.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logRoot}/web-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder defaults to ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <!-- Only log level INFO and above -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logLevel}</level>
        </filter>
    </appender>

    <logger name="com.app.user" level="${logLevel}" additivity="${logAdditivity}">
        <appender-ref ref="UserLogFile"/>
    </logger>

    <logger name="com.app.sns" level="${logLevel}" additivity="${logAdditivity}">
        <appender-ref ref="SnsLogFile"/>
    </logger>

    <logger name="com.app.search" level="${logLevel}" additivity="${logAdditivity}">
        <appender-ref ref="SearchLogFile"/>
    </logger>

    <logger name="com.app.notify" level="${logLevel}" additivity="${logAdditivity}">
        <appender-ref ref="NotifyLogFile"/>
    </logger>

    <logger name="com.app.discover" level="${logLevel}" additivity="${logAdditivity}">
        <appender-ref ref="DiscoverLogFile"/>
    </logger>

    <logger name="com.app.recommend" level="${logLevel}" additivity="${logAdditivity}">
        <appender-ref ref="RecommendLogFile"/>
    </logger>

    <logger name="com.app.album" level="${logLevel}" additivity="${logAdditivity}">
        <appender-ref ref="AlbumLogFile"/>
    </logger>

    <logger name="com.app.web" level="${logLevel}" additivity="${logAdditivity}">
        <appender-ref ref="WebLogFile"/>
    </logger>

    <logger name="com.app.log.ControllerLogInterceptor" level="trace" additivity="false">
        <appender name="CONTROLLERLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${logRoot}/app-web-controller.log</file>
            <encoder>
                <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- rollover daily -->
                <fileNamePattern>${logRoot}/app-web-controller-%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>7</maxHistory>
            </rollingPolicy>
        </appender>
    </logger>

    <!-- Strictly speaking, the level attribute is not necessary since -->
    <!-- the level of the root level is set to DEBUG by default.       -->
    <root level="${logLevel}">
        <appender-ref ref="console"/>
        <appender-ref ref="${logDefaultFile}"/>
    </root>


</configuration>